@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(26, 26, 26) !important;
    color: white !important;
    font-family: 'Scope One', serif !important; 
}

.container { 
    z-index: 100;
    position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0em !important;
}
.headline, 
.designation {
    background-color: white !important;
    color: rgb(26, 26, 26)  !important;
    padding-right: .1em;
    padding-left: .1em;
}
.sub-headline {
    margin-top: .7em !important;
}
.designation {
    margin-top: 12em !important;
}
span.special-font {
	background-image: linear-gradient(#ffffff, #fff);
	background-repeat: no-repeat;
	background-position: 0% 100%;
    background-size: 100% 2px;
    color: white;
	transition: color .5s, background-size .5s, background-position .3s ease-in .5s;
}
.jobs-content:hover span.special-font,
.skills-content:hover span.special-font,
.languages-content:hover span.special-font{
    background-size: 100% 100%;
    background-position: 0% 0%;
    color: black;
	transition: color .7s, background-position .5s, background-size .3s ease-in .5s;
}
@keyframes whiteToBlack {
    from {
        color: white;
    }
    to {
        color: black;
    }
}

a {
    text-decoration: none !important;
    text-decoration-style: none !important;
    color: white !important;
}
ul {
    list-style-type: square;   
}


@media screen and (max-width: 500px) {
    .header {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }

    .headline {
        font-size: .7em !important;
    }

    .sub-headline {
        margin-top: .1em !important;
    }
    .designation {
        font-size: .8em !important;
        margin-top: .25rem!important;
    }

    .content {
        width: 100% !important;
    }

    *, ::after, ::before {
        box-sizing: unset !important;
    }

    .header-contact {
        display: none !important;
    }
    .footer-contact {
        display: block !important;
    }
}